{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}


{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}


{% block content %}

<main id="content" role="main">

	<h1 class="heading-large">Check your Details</h1>

    <div class="text">
    
        
      <p class="lede">Before you start to book an appointment please check your details are correct.</p>

        
        <div class="bookbox">
            <h2 style="font-weight:700;">Matthew SMITH</h2>
            <div class="checkdetailsbox">
                
                <h1 style="font-size: 20px;color:#000;">Home Address</h1>
                <p>5 Marcus Street<br />
                    Leeds<br />
                    West Yorkshire<br />
                    LS2 4GH
                </p>
            </div>
            
            <div class="checkdetailsbox">
                
                                <h1 style="font-size: 20px;color:#000;">Phone</h1>
                
                <div style="border-bottom:1px #dee0e2 solid;">
                 <p>Home: 01484 123456 <a href="">[edit]</a> </p>               
                </div>
                <div style="border-bottom:1px #dee0e2 solid;padding-top:1rem;">
                 <p>Work: 01484 098765 <a href="">[edit]</a> </p>               
                </div>
                <div style="padding-top:1rem;">
                 <p>Mobile: 07805 876543 <a href="">[edit]</a> </p>               
                </div>
                
            </div>
            
            
            <div class="checkdetailsbox">
                
                <h1 style="font-size: 20px;color:#000;">Email Address</h1>
                <div>
                 <p>matthew.smith<br />@btinternet.com <a href="">[edit]</a> </p>               
                </div>
            </div>
            
            <div class="checkdetailsbox">
                
                <h1 style="font-size: 20px;color:#000;">Date of Birth</h1>

                 <p>23 December 1964	</p>               

            </div>
            
            <div class="checkdetailsbox">
                
                <h1 style="font-size: 20px;color:#000;">NHS Number</h1>

                 <p>123-456-7890</p>               

            </div>
            
            <div class="checkdetailsbox">
                
                                <h1 style="font-size: 20px;color:#000;">Additional Requirements</h1>
                
                <div style="border-bottom:1px #dee0e2 solid;">
                 <p>Advocacy <a href="">[Remove]</a> </p>               
                </div>
                <div style="border-bottom:1px #dee0e2 solid;padding-top:1rem;">
                 <p>Interpreter <a href="">[Remove]</a> </p>               
                </div>
                <div style="padding-top:1rem;">
                 <p id="remove">Transport <a id="remove" href="">[Remove]</a> </p>               
                </div>
                
            </div>
            
            
            
    
            

        

        </div>
        
        
    </div>
    
                <div style="text-align:center;">
                
            



    <div>
                    <p>
        <a class="button button-book" href="select-your-clinic" style="color:#fff;padding-top:1.5rem;">Book Appointment</a>
      </p>
    </div>



            
            </div>
    
    
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            $( ".remove" ).click(function() {
              $( "p" ).hide( "slow" );
            });
        </script>
    
            
</main>

{% endblock %}
