{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}


{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}


{% block content %}

<main id="content" role="main">

	<h1 class="heading-large">Check your Details</h1>

    <div class="text">


      <p class="lede">Before you start to book an appointment please check your details are correct.</p>


        <div class="bookbox">
            <h2 style="font-weight:700;padding-bottom: 10px !important;">Matthew Smith</h2>

<!--ACCORDION START-->


    <dl class="accordion" style="">


        <dt style="margin-left: 0px !important;padding-bottom: 10px !important;">
            <a style="text-decoration:underline;padding-bottom: 10px !important;text-align:center;color:#0072C6;">Click here to view your full details</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;">
            <div class="checkdetailsbox" style="padding-left: 10px !important; padding-right: 10px !important;">


                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                    <h1 style="font-size: 20px;color:#000;">Home Address</h1>
                        <p>5 Marcus Street<br />
                          Leeds<br />
                          West Yorkshire<br />
                          LS2 4GH</p>
                </div>

                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                  <h1 style="font-size: 20px;color:#000;">Phone</h1>

                    <div style="border-bottom:1px #dee0e2 solid;">
                      <p>Home: 01484 123456&nbsp;&nbsp;&nbsp;<button type="button" class="button-postcode" data-toggle="modal" data-target="#telhome">[edit]</button></p>
                    </div>

                      <!--<div style="border-bottom:1px #dee0e2 solid;padding-top:1rem;">
                        <p>Work: 01484 098765 &nbsp;&nbsp;&nbsp;<button type="button" class="button-postcode" data-toggle="modal" data-target="#telwork">[edit]</button></p>
                    </div>-->

                    <div style="padding-top:1rem;">
                      <p>Mobile: 07805 876543&nbsp;&nbsp;&nbsp;<button type="button" class="button-postcode" data-toggle="modal" data-target="#telmob">[edit]</button></p>
                    </div>
                </div>

                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                  <h1 style="font-size: 20px;color:#000;">Email Address</h1>
                    <div>
                      <p style="word-wrap: break-word;">matthew.smith@btinternet.com&nbsp;&nbsp;&nbsp;<button type="button" class="button-postcode" data-toggle="modal" data-target="#useremail">[edit]</button></p>
                    </div>
                </div>

                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                      <h1 style="font-size: 20px;color:#000;">Date of Birth</h1>
                      <p>23 December 1964  </p>
                </div>

                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                      <h1 style="font-size: 20px;color:#000;">NHS Number</h1>
                      <p>123-456-7890</p>
                </div>

                <div style="border-bottom:1px #dee0e2 solid;padding-top: 20px !important;">
                      <h1 style="font-size: 20px;color:#000;">Additional Requirements</h1>
                          <div style="border-bottom:1px #dee0e2 solid;">
                              <p>Advocacy <a href="">[Remove]</a> </p>
                          </div>
                          <div style="border-bottom:1px #dee0e2 solid;padding-top:1rem;">
                              <p>Interpreter <a href="">[Remove]</a> </p>
                          </div>
                          <div style="padding-top:1rem;">
                              <p id="remove">Transport <a id="remove" href="">[Remove]</a> </p>
                          </div>
                </div>

            </div>
        </dd>
    </dl>

    <!--ACCORDION END-->













        </div>
    </div>




    <div style="text-align:center;padding-top:10px;">

     <p><strong>Help?</strong> If your personal details are incorrect, please contact your GP practice.</p>



    <div>
                    <p>
        <a class="button button-book" href="select-your-clinic" style="color:#fff;padding-top:1.5rem;">Continue Booking</a>
      </p>
    </div>





            </div>



<!-- Modal START -->
<div class="container">




<!-- Modal CHANGE HOME TELEPHONE NUMBER START -->
  <div class="modal fade" id="telhome" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit home telephone number</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="Home telephone number" class="form-control" id="telhome" placeholder="Home telephone number">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>

<!-- Modal CHANGE HOME TELEPHONE NUMBER END -->

<!-- Modal CHANGE Work TELEPHONE NUMBER START -->
  <div class="modal fade" id="telwork" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit work telephone number</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="Work telephone number" class="form-control" id="telwork" placeholder="Work telephone number">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>

<!-- Modal CHANGE Work TELEPHONE NUMBER END -->



<!-- Modal CHANGE Mobile TELEPHONE NUMBER START -->
  <div class="modal fade" id="telmob" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit mobile telephone number</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="mobile telephone number" class="form-control" id="telmob" placeholder="Mobile telephone number">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>
<!-- Modal CHANGE mobile TELEPHONE NUMBER END -->



<!-- Modal CHANGE EMAIL START -->
  <div class="modal fade" id="useremail" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit email address</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="email address" class="form-control" id="email" placeholder="Email address">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>

    </div>
  </div>
<!-- Modal CHANGE EMAIL END -->







</div>

<!-- Modal End-->

      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            $( ".remove" ).click(function() {
              $( "p" ).hide( "slow" );
            });
        </script>

            <script>
        $(document).ready(function() {
           $('.accordion > dd').hide();
           $('.accordion > dt > a').click(function(){
                   $(this).parent().next().slideToggle()
                          .siblings('.hide').slideUp();
                   return false;
           });
            $('.close').click(function(){
                $('.accordion .hide').slideUp();
            });
        });
    </script>




</main>

{% endblock %}
