{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}




        

        
        
    <header role="banner" id="global-header" style="background-color:#00A19B;">
      <div class="header-container">
          
 <div class="container-fluid" style="padding: 0px;">
  <div class="row-fluid">
    <div class="span8" >
      <h2 style="color:#fff;font-size:18px;padding-top:25px;">Filter Clinics</h2>
    </div>
    <div class="span4" >
<a href="select-your-clinic" style="float:right;color:#fff;padding-top:1rem;padding-bottom:1rem;">
          <img src="{{assetPath}}images/x_37x37.png" width="37px" height ="37px" alt="">
            </a>
    </div>

  </div>
</div>


          
          
          
          
          



      </div>
    </header>

<main id="content" role="main">

 <div class="container-fluid">
      <div class="row-fluid" style="padding:0 0 0 0;">
        <div class="span6">
                        <p class="close">
            <a class="button button-cancel close" style="color:#fff;padding-top:1.5rem;">Reset filters</a>
          </p>
        </div>
        <div class="span6">
                        <p>
            <a class="button button-book" style="color:#fff;padding-top:1.5rem;" class="is-closed animated fadeInLeft" data-toggle="offcanvas" href="select-your-clinic">Apply filters</a>
          </p>
        </div>

      </div>
</div>
    
<!--ACCORDION START-->
    
<!--WAITING TIME-->
    
    <dl class="accordion" style="background-color: #dee0e2;">

        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Waiting Time</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="100Days" type="checkbox" name="checkbox" value="1" checked="checked">
                  <label for="100Days"><span><span></span></span>1 – 100 Days</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="150Days" type="checkbox" name="checkbox" value="2" checked="checked">
                  <label for="150Days"><span><span></span></span>101 – 150 Days</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="200Days" type="checkbox" name="checkbox" value="2" checked="checked">
                  <label for="200Days"><span><span></span></span>151 – 200 Days</label>
              </div>
              <div>
                <input id="250Days" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="250Days"><span><span></span></span>201 – 250 Days</label>
              </div>
            </div>
        </dd>
        
<!--CLINIC DAY-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Day</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Monday" type="checkbox" name="checkbox" checked="checked" value="1" >
                  <label for="Monday"><span><span></span></span>Monday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Tuesday" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Tuesday"><span><span></span></span>Tuesday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Wednesday" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Wednesday"><span><span></span></span>Wednesday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Thursday" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Thursday"><span><span></span></span>Thursday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Friday" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="Friday"><span><span></span></span>Friday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Saturday" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Saturday"><span><span></span></span>Saturday</label>
              </div>
                <div>
                <input id="Sunday" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="Sunday"><span><span></span></span>Sunday</label>
              </div>
            </div>
        </dd>
        
        
<!--CLINIC TIME-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Time</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Morning" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Morning"><span><span></span></span>Morning (8.00am - 11.59am)</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Afternoon" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Afternoon"><span><span></span></span>Afternoon (12.00pm - 3.59pm)</label>
              </div>
                <div>
                <input id="Evening" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Evening"><span><span></span></span>Evening (4.00pm - 8.00pm)</label>
              </div>
            </div>
        </dd>
        
        
<!--DISTANCE-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Distance from LS2 4GH</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="2miles" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="2miles"><span><span></span></span>2 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="5miles" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="5miles"><span><span></span></span>5 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="10miles" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="10miles"><span><span></span></span>10 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="15miles" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="15miles"><span><span></span></span>15 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="25miles" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="25miles"><span><span></span></span>25 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="50miles" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="50miles"><span><span></span></span>50 miles</label>
              </div>  
              <div style="padding-bottom:2rem;">
                <input id="75miles" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="75miles"><span><span></span></span>75 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="100miles" type="checkbox" name="checkbox" checked="checked" value="8">
                  <label for="100miles"><span><span></span></span>100 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="150miles" type="checkbox" name="checkbox" checked="checked" value="9">
                  <label for="150miles"><span><span></span></span>150 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="200miles" type="checkbox" name="checkbox" checked="checked" value="10">
                  <label for="200miles"><span><span></span></span>200 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="750miles" type="checkbox" name="checkbox" checked="checked" value="11">
                  <label for="750miles"><span><span></span></span>750 miles</label>
              </div> 
                <div>
                    <input id="1000miles" type="checkbox" name="checkbox" checked="checked" value="3">
                        <label for="1000miles"><span><span></span></span>1000 miles</label>
                </div>
            
            </div>
        </dd>

        
<!--Accessibility-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Accessibility</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Braille" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Braille"><span><span></span></span>Braille translation service</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Disabledparking" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Disabledparking"><span><span></span></span>Disabled parking</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="DisabledWC" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="DisabledWC"><span><span></span></span>Disabled WC</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Inductionloop" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Inductionloop"><span><span></span></span>Induction loop</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="RNIDtypetalk" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="RNIDtypetalk"><span><span></span></span>RNID typetalk</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Signingservice" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Signingservice"><span><span></span></span>Signing service available</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Wheelchairaccess" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="Wheelchairaccess"><span><span></span></span>Wheelchair access</label>
              </div>
                <div>
                <input id="Stepfree" type="checkbox" name="checkbox" checked="checked" value="8">
                  <label for="Stepfree"><span><span></span></span>Step free access</label>
              </div>
            </div>
        </dd>
        
        
<!--Facilities & Amenities-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Facilities &amp; Amenities</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Cafe" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Cafe"><span><span></span></span>Cafe</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="library" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="library"><span><span></span></span>Patient library</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Pharmacy" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Pharmacy"><span><span></span></span>Pharmacy</label>
              </div>

                <div>
                <input id="Shop" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Shop"><span><span></span></span>Shop</label>
              </div>
            </div>
        </dd>
        
        
<!--CQC Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">CQC Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Outstanding" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Outstanding"><span><span></span></span>Outstanding</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Good" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Good"><span><span></span></span>Good</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Requiresimprovement" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Requiresimprovement"><span><span></span></span>Requires improvement</label>
              </div>

                <div>
                <input id="Inadequate" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Inadequate"><span><span></span></span>Inadequate</label>
              </div>
            </div>
        </dd>
        
        
<!--NHS Choices Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">NHS Choices Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="5star" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="5star"><span><span></span></span>5 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="4star" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="4star"><span><span></span></span>4 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="3star" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="3star"><span><span></span></span>3 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="2star" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="2star"><span><span></span></span>2 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="1star" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="1star"><span><span></span></span>1 Star</label>
              </div>
                <div>
                <input id="Unrated" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Unrated"><span><span></span></span>Unrated</label>
              </div>
            </div>
        </dd>
        
<!--Parking-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Parking</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Car" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Car"><span><span></span></span>Car Parking</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Cycle" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Cycle"><span><span></span></span>Cycle parking</label>
              </div>
                <div>
                <input id="Disabled" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Disabled"><span><span></span></span>Disabled parking</label>
              </div>
            </div>
        </dd>
        
    </dl>    
        


    
    
    <!--ACCORDION END-->
    
    
    


    

    
    <script>
        $(document).ready(function() {    
           $('.accordion > dd').hide();
           $('.accordion > dt > a').click(function(){
                   $(this).parent().next().slideToggle()
                          .siblings('.hide').slideUp();
                   return false;
           });
            $('.close').click(function(){
                $('.accordion .hide').slideUp();
            });
        });
    </script>
    
    

    
    
            
</main>

{% endblock %}
