{% extends 'templates/nhs_content_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}




        

        
<!--MAP HEADER START-->
        <header role="banner" id="global-header" style="background-color:#9B004F;">
            <div class="header-container">

                <div class="container-fluid" style="padding: 0px;">
                    <div class="row-fluid">
                        <div class="span8" >
                            <h2 style="color:#fff;font-size:18px;padding-top:25px;">Map Clinics</h2>
                        </div>
                        <div class="span4" >
                            <a href="select-your-clinic" style="float:right;color:#fff;padding-top:1rem;padding-bottom:1rem;">
                                <img src="{{assetPath}}images/x_37x37.png" width="37px" height ="37px" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </header>

<!--MAP HEADER END-->

<main id="content" role="main">

<p class="lede">Your home address is set at <a href="/">LS2 4GH</a> </p>
    

    
          <img src="{{assetPath}}images/clinic_map copy.png" width="275px" alt="">

<!--CLINIC 1 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">1</h1>
                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">LGI Knee Clinic</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Leeds General Infirmary, Leeds, LS1 3EX</p>
                                    <p><strong>1 Mile</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 1 INFO END-->

<!--CLINIC 2 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">2</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">Knee &amp; Shoulder Unit</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Gaworth Infirmary, Garworth, G1 3EX</p>
                                    <p><strong>5 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>
<!--CLINIC 2 INFO END-->

<!--CLINIC 3 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">3</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">OA Knee - Chapel Allerton Hospital</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Chapel Allerton Hospital, Chapeltown Road, Leeds, West Yorkshire, LS7 4SA</p>
                                    <p><strong>7 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 3 INFO END-->


    

    
    <script>
        $(document).ready(function() {    
           $('.accordion > dd').hide();
           $('.accordion > dt > a').click(function(){
                   $(this).parent().next().slideToggle()
                          .siblings('.hide').slideUp();
                   return false;
           });
            $('.close').click(function(){
                $('.accordion .hide').slideUp();
            });
        });
    </script>
    
    

    
    
            
</main>

{% endblock %}
