{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main role="main" style="padding-left:0px;">

	<body class="cbp-spmenu-push">
        
<!--FILTER MENU START-->        
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="overflow:auto;-webkit-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49); -moz-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);">
            
            
<!--SLIDE OUT FILTER START-->
            <header role="banner" id="global-header" style="background-color:#00A19B;">
              <div class="header-container">
                  <div class="container-fluid" style="padding: 0px;">
                        <div class="row-fluid">
                            <div class="span8" >
                                <h2 style="color:#fff;font-size:18px;padding-top:15px;">Filter Clinics</h2>
                            </div>

                            <div class="span4">
                                <button id="showLeftPush" style="background-color:#00A19B;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
                            </div>

                        </div>
                    </div>
                </div>

            </header>
            
<!--SLIDE OUT FILTER END-->

            <div>         
<!--RESET APPLY BUTTONS START-->    

 <div class="container-fluid" style="padding:10px;">
      <div class="row-fluid" style="padding:0 0 0 0;">
        <div class="span6">
                        <p class="close">
            <a class="button button-cancel close" style="color:#fff;padding-top:1rem;">Reset filters</a>
          </p>
        </div>
        <div class="span6">
                        <p>
            <a class="button button-book" style="color:#fff;padding-top:1rem;" >Apply filters</a>
          </p>
        </div>

      </div>
</div>
    
<!--RESET APPLY BUTTONS END-->
                
                
<!--ACCORDION START-->
    
<!--WAITING TIME-->
    
    <dl class="accordion" style="background-color: #dee0e2;">

        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Waiting Time</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="100Days" type="checkbox" name="checkbox" value="1" checked="checked">
                  <label for="100Days"><span><span></span></span>1 – 100 Days</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="150Days" type="checkbox" name="checkbox" value="2" checked="checked">
                  <label for="150Days"><span><span></span></span>101 – 150 Days</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="200Days" type="checkbox" name="checkbox" value="2" checked="checked">
                  <label for="200Days"><span><span></span></span>151 – 200 Days</label>
              </div>
              <div>
                <input id="250Days" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="250Days"><span><span></span></span>201 – 250 Days</label>
              </div>
            </div>
        </dd>
        
<!--CLINIC DAY-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Day</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Monday" type="checkbox" name="checkbox" checked="checked" value="1" >
                  <label for="Monday"><span><span></span></span>Monday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Tuesday" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Tuesday"><span><span></span></span>Tuesday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Wednesday" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Wednesday"><span><span></span></span>Wednesday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Thursday" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Thursday"><span><span></span></span>Thursday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Friday" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="Friday"><span><span></span></span>Friday</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Saturday" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Saturday"><span><span></span></span>Saturday</label>
              </div>
                <div>
                <input id="Sunday" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="Sunday"><span><span></span></span>Sunday</label>
              </div>
            </div>
        </dd>
        
        
<!--CLINIC TIME-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Time</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Morning" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Morning"><span><span></span></span>Morning (8.00am - 11.59am)</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Afternoon" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Afternoon"><span><span></span></span>Afternoon (12.00pm - 3.59pm)</label>
              </div>
                <div>
                <input id="Evening" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Evening"><span><span></span></span>Evening (4.00pm - 8.00pm)</label>
              </div>
            </div>
        </dd>
        
        
<!--DISTANCE-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Distance from LS2 4GH</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="2miles" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="2miles"><span><span></span></span>2 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="5miles" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="5miles"><span><span></span></span>5 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="10miles" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="10miles"><span><span></span></span>10 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="15miles" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="15miles"><span><span></span></span>15 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="25miles" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="25miles"><span><span></span></span>25 miles</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="50miles" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="50miles"><span><span></span></span>50 miles</label>
              </div>  
              <div style="padding-bottom:2rem;">
                <input id="75miles" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="75miles"><span><span></span></span>75 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="100miles" type="checkbox" name="checkbox" checked="checked" value="8">
                  <label for="100miles"><span><span></span></span>100 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="150miles" type="checkbox" name="checkbox" checked="checked" value="9">
                  <label for="150miles"><span><span></span></span>150 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="200miles" type="checkbox" name="checkbox" checked="checked" value="10">
                  <label for="200miles"><span><span></span></span>200 miles</label>
              </div> 
              <div style="padding-bottom:2rem;">
                <input id="750miles" type="checkbox" name="checkbox" checked="checked" value="11">
                  <label for="750miles"><span><span></span></span>750 miles</label>
              </div> 
                <div>
                    <input id="1000miles" type="checkbox" name="checkbox" checked="checked" value="3">
                        <label for="1000miles"><span><span></span></span>1000 miles</label>
                </div>
            
            </div>
        </dd>

        
<!--Accessibility-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Accessibility</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Braille" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Braille"><span><span></span></span>Braille translation service</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Disabledparking" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Disabledparking"><span><span></span></span>Disabled parking</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="DisabledWC" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="DisabledWC"><span><span></span></span>Disabled WC</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Inductionloop" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Inductionloop"><span><span></span></span>Induction loop</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="RNIDtypetalk" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="RNIDtypetalk"><span><span></span></span>RNID typetalk</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Signingservice" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Signingservice"><span><span></span></span>Signing service available</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Wheelchairaccess" type="checkbox" name="checkbox" checked="checked" value="7">
                  <label for="Wheelchairaccess"><span><span></span></span>Wheelchair access</label>
              </div>
                <div>
                <input id="Stepfree" type="checkbox" name="checkbox" checked="checked" value="8">
                  <label for="Stepfree"><span><span></span></span>Step free access</label>
              </div>
            </div>
        </dd>
        
        
<!--Facilities & Amenities-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Facilities &amp; Amenities</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Cafe" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Cafe"><span><span></span></span>Cafe</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="library" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="library"><span><span></span></span>Patient library</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Pharmacy" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Pharmacy"><span><span></span></span>Pharmacy</label>
              </div>

                <div>
                <input id="Shop" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Shop"><span><span></span></span>Shop</label>
              </div>
            </div>
        </dd>
        
        
<!--CQC Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">CQC Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Outstanding" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Outstanding"><span><span></span></span>Outstanding</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Good" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Good"><span><span></span></span>Good</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Requiresimprovement" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Requiresimprovement"><span><span></span></span>Requires improvement</label>
              </div>

                <div>
                <input id="Inadequate" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="Inadequate"><span><span></span></span>Inadequate</label>
              </div>
            </div>
        </dd>
        
        
<!--NHS Choices Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">NHS Choices Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="5star" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="5star"><span><span></span></span>5 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="4star" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="4star"><span><span></span></span>4 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="3star" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="3star"><span><span></span></span>3 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="2star" type="checkbox" name="checkbox" checked="checked" value="4">
                  <label for="2star"><span><span></span></span>2 Stars</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="1star" type="checkbox" name="checkbox" checked="checked" value="5">
                  <label for="1star"><span><span></span></span>1 Star</label>
              </div>
                <div>
                <input id="Unrated" type="checkbox" name="checkbox" checked="checked" value="6">
                  <label for="Unrated"><span><span></span></span>Unrated</label>
              </div>
            </div>
        </dd>
        
<!--Parking-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Parking</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              <div style="padding-bottom:2rem;">
                <input id="Car" type="checkbox" name="checkbox" checked="checked" value="1" checked="checked">
                  <label for="Car"><span><span></span></span>Car Parking</label>
              </div>
              <div style="padding-bottom:2rem;">
                <input id="Cycle" type="checkbox" name="checkbox" checked="checked" value="2">
                  <label for="Cycle"><span><span></span></span>Cycle parking</label>
              </div>
                <div>
                <input id="Disabled" type="checkbox" name="checkbox" checked="checked" value="3">
                  <label for="Disabled"><span><span></span></span>Disabled parking</label>
              </div>
            </div>
        </dd>
        
    </dl>    
        


    
<!--ACCORDION END-->
                
                
                
                
                
                
                
                
                
                
                
                
                
                
            </div>
            
		</nav>
<!--FILTER MENU END-->
        
        
        
<!--MAP MENU START-->        
        
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" style="overflow:auto;-webkit-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);-moz-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);">


			
<!--MAP HEADER START-->
        <header role="banner" id="global-header" style="background-color:#9B004F;">
            <div class="header-container">

                <div class="container-fluid" style="padding: 0px;">
                    <div class="row-fluid">
                        <div class="span8" >
                            <h2 style="color:#fff;font-size:18px;padding-top:15px;">Map Clinics</h2>
                        </div>
                        <div class="span4" >
                                <button id="showRightPush" style="background-color:#9B004F;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
                        </div>

                    </div>
                </div>
            </div>
        </header>

<!--MAP HEADER END-->            
            
            <div style="padding:10px;">                <p class="lede">Your home address is set at <a href="/">LS2 4GH</a> </p> 
</div>
                <img src="{{assetPath}}images/clinic_map copy.png" width="275px" alt="">
            
<!--CLINIC 1 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">1</h1>
                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">LGI Knee Clinic</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Leeds General Infirmary, Leeds, LS1 3EX</p>
                                    <p><strong>1 Mile</strong> from <button type="button" class="button-postcode" data-toggle="modal" data-target="#postcode">LS2 4GH</button></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 1 INFO END-->

<!--CLINIC 2 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">2</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">Knee &amp; Shoulder Unit</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Gaworth Infirmary, Garworth, G1 3EX</p>
                                    <p><strong>5 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>
<!--CLINIC 2 INFO END-->

<!--CLINIC 3 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">3</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">OA Knee - Chapel Allerton Hospital</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Chapel Allerton Hospital, Chapeltown Road, Leeds, West Yorkshire, LS7 4SA</p>
                                    <p><strong>7 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 3 INFO END-->
            
            
		</nav>
        
<!--MAP MENU END-->         
        
        
        


		<div class="container">
			<header class="clearfix">

			</header>
			<div class="main">
                
<!--MAIN CONTENT STARTS HERRRRREEEE-->      
                
  <h1 class="heading-large">
    Select your Clinic
  </h1>
    
      <p class="lede">You have been referred for <strong>Knee Pain</strong> 
and have <strong>3 clinics</strong> to choose from below.</p>
    
<!--FILTER SORT MAP BUTTONS START-->
                
    <div class="container-fluid" style="padding: 0px;">
        <div class="row-fluid" style="padding:0 0 0 0;">



            
            <div class="span4">
                    <p>
                        <a id="showLeft" class="button button-filter" style="color:#fff" >Filter </a>
                    </p>
            </div>
            <div class="span4">
        <dl class="accordion">

        <dt style="margin-left: 0px !important;">
            <a class="button button-sort"  style="text-decoration:none;color:#fff;">Sort</a>
        </dt>
            
            <div style="width:100%;position:absolute;display: none; left: 0px !important;">
                    <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
                        <div>
                          <div style="padding-bottom:2rem;">
                            <input id="Appointment" type="radio" name="radio" value="1" checked="checked">
                              <label for="Appointment"><span>
                                  <span></span></span>
                                  Next Appointment (Soonest - Latest)</label>
                          </div>
                          <div style="padding-bottom:2rem;">
                            <input id="Location" type="radio" name="radio" value="2">
                              <label for="Location"><span>
                                  <span></span></span>
                                  Location (Nearest - Furthest)</label>
                          </div>
                          <div style="padding-bottom:2rem;">
                            <input id="CQC" type="radio" name="radio" value="3">
                              <label for="CQC">
                                  <span><span></span></span>
                                  CQC Rating (Outstanding - Inadequate)</label>
                          </div>
                        </div>
                    </dd>

            </div>
                </dl>  

        
            </div>
            <div class="span4">
                    <p>
                        <a class="button button-map" id="showRight" style="color:#fff">Map</a>
                    </p>
            </div>
        

                    
        </div>
    </div>
<!--FILTER SORT MAP BUTTONS END-->    
                
                
<!-- TEST CLINIC START -->
                
<div class="row" style="padding:15px;">
  <div class="col-sm-9" style="background-color:red;">
    
    <div class="row">
      <div class="col-xs-10 col-sm-8" style="background-color:yellow;padding-left: 10px;padding-right: 0px; !important;">
                    <h1 style="font-size:20px;color:#231f20;">LGI Knee Clinic</h1>
                    <p>Leeds General Infirmary, Leeds, LS1 3EX</p>
                <div class="col-xs-4 col-sm-6 clinicdiarybox" style="background-color:blue;">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">10</h2> Days
                                        </div>
                </div>
                <div class="col-xs-4 col-sm-6" style="background-color:black;">
        Level 3
                </div>
                <div class="col-xs-4 col-sm-6" style="background-color:grey;">
        Level 3
                </div>
      </div>
      <div class="col-xs-1 col-sm-3" style="background-color:green;">
        Level 3
      </div>
    </div>
  </div>
</div>
                
<!-- TEST CLINIC END -->
          
                
                
                
                
                
<!--CLINIC 1 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment' style="border:1px solid #dee0e2;padding:10px;">
            
                    <h1 style="font-size:20px;color:#231f20;">LGI Knee Clinic</h1>
                    <p>Leeds General Infirmary, Leeds, LS1 3EX</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">10</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>5 Miles</strong><br />
                                        from<br />
                                    <a href="">LS2 4GH</a>
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_imp.svg" />
                                </div>

                            </div>
                        </div>

        </div>

<!--CLINIC 1 END-->
                
                
<!--CLINIC 2 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment'>
            
                    <h1 style="font-size:20px;color:#231f20;">Knee &amp; Shoulder Unit
</h1>
                    <p>Garworth Infirmary, Garworth, G1 3EX</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">18</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>2 Miles</strong><br />
                                        from<br />
                                    <a href="">LS2 4GH</a>
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_good.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 2 END-->
                
<!--CLINIC 3 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment'>
            
                    <h1 style="font-size:20px;color:#231f20;">OA Knee - Chapel Allerton Hospital
</h1>
                    <p>Garworth Infirmary, Garworth, G1 3EX</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">50</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>8 Miles</strong><br />
                                        from<br />
                                    <a href="">LS2 4GH</a>
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_good.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 3 END-->
<!--CLINIC 4 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment'>
            
                    <h1 style="font-size:20px;color:#231f20;">Orthopaedics - Calderdale Royal Hospital
</h1>
                    <p>Ward 27, Bradford Royal Infirmary, 
Duckworth Lane, Bradford, BD9 6RJ</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4" style="padding-top:20px;" >

                                    <h2 style="font-size:2.3rem;"><img src="/public/images/noun_127.svg" height="40px" />
                                    </h2>
                                    <p><strong>Tel.</strong> 01422 223139</p>
                                                                        

                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>8 Miles</strong><br />
                                        from<br />
                                    <a href="">LS2 4GH</a>
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_imp.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 4 END-->
                
                
                
				<section style="visibility: hidden;">
					<button id="showLeft">Show/Hide Left Slide Menu</button>
					<button id="showRight">Show/Hide Right Slide Menu</button>
					<button id="showTop">Show/Hide Top Slide Menu</button>
					<button id="showBottom">Show/Hide Bottom Slide Menu</button>
				</section>

			</div>
		</div>
    
       
    <!-- Modal START -->
<div class="container">
        
<!-- Modal CHANGE POSTCODE START -->
  <div class="modal fade" id="postcode" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit home postcode</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="postcode" class="form-control" id="postcode" placeholder="Postcode">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>
      
    </div>
  </div>
    
<!-- Modal CHANGE POSTCODE END -->
    
</div>
    
<!-- Modal End-->    


    
</main>

<script src="/public/javascripts/vendor/modernizr.custom.js"></script>
<script src="/public/javascripts/vendor/classie.js"></script>
<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				menuRight = document.getElementById( 'cbp-spmenu-s2' ),
				menuTop = document.getElementById( 'cbp-spmenu-s3' ),
				menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
				showLeft = document.getElementById( 'showLeft' ),
				showRight = document.getElementById( 'showRight' ),
				showTop = document.getElementById( 'showTop' ),
				showBottom = document.getElementById( 'showBottom' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;

			showLeft.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeft' );
			};
			showRight.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRight' );
			};
			showTop.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuTop, 'cbp-spmenu-open' );
				disableOther( 'showTop' );
			};
			showBottom.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuBottom, 'cbp-spmenu-open' );
				disableOther( 'showBottom' );
			};
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			showRightPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toleft' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRightPush' );
			};

			function disableOther( button ) {
				if( button !== 'showLeft' ) {
					classie.toggle( showLeft, 'disabled' );
				}
				if( button !== 'showRight' ) {
					classie.toggle( showRight, 'disabled' );
				}
				if( button !== 'showTop' ) {
					classie.toggle( showTop, 'disabled' );
				}
				if( button !== 'showBottom' ) {
					classie.toggle( showBottom, 'disabled' );
				}
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
				if( button !== 'showRightPush' ) {
					classie.toggle( showRightPush, 'disabled' );
				}
			}
		</script>
    
 <script>
        $(document).ready(function() {    
           $('.accordion > dd').hide();
           $('.accordion > dt > a').click(function(){
                   $(this).parent().next().slideToggle()
                          .siblings('.hide').slideUp();
                   return false;
           });
            $('.close').click(function(){
                $('.accordion .hide').slideUp();
            });
        });
    </script>

{% endblock %}
