{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main role="main" style="padding-left:0px;">

	<body class="cbp-spmenu-push">
        
<!--FILTER MENU START-->        
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="overflow:auto;-webkit-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49); -moz-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);">
            
            
<!--SLIDE OUT FILTER START-->
            <header role="banner" id="global-header" style="background-color:#00A19B;padding-top: 10px !important; padding-bottom: 10px !important;margin-left: 0px !important; margin-right: 0px !important;">
              <div class="header-container">
                  <div class="container-fluid" style="padding: 0px;">
                        <div class="row-fluid">
                            <div class="span8" >
                                <h2 style="color:#fff;font-size:18px;padding-top:15px;">Filter Clinics</h2>
                            </div>

                            <div class="span4">
                                <button id="showLeftPush" style="background-color:#00A19B;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
                            </div>

                        </div>
                    </div>
                </div>

            </header>
            
<!--SLIDE OUT FILTER END-->

            <div>         
<!--RESET APPLY BUTTONS START-->    

 <div class="container-fluid" style="padding:10px;">
      <div class="row-fluid" style="padding:0 0 0 0;">
        <div class="span6">
                        <p class="close" >
            <a class="button button-cancel" style="color:#fff;padding-top:1rem;">Reset filters</a>
          </p>
        </div>
        <div class="span6">
                        <p>
            <a class="button button-book" style="color:#fff;padding-top:1rem;" >Apply filters</a>
          </p>
        </div>

      </div>
</div>
    
<!--RESET APPLY BUTTONS END-->
                
                
<!--ACCORDION START-->
    
<!--WAITING TIME-->
    
    <dl class="accordion" style="background-color: #dee0e2;">

        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Waiting Time</a>
        </dt>
        
        
        
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="any" name="minor">
          <label class="form-control-radio minor" for="any">
            Any
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="30days" name="minor">
          <label class="form-control-radio minor" for="30days" style="font-weight: normal;">
            Up to 30 days
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="60days" name="minor">
          <label class="form-control-radio minor" for="60days" style="font-weight: normal;">
            Up to 60 days
          </label>
        </div>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="100days" name="minor">
          <label class="form-control-radio minor" for="100days" style="font-weight: normal;">
            Up to 100 days
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="150days" name="minor">
          <label class="form-control-radio minor" for="150days" style="font-weight: normal;">
            Up to 150+ days
          </label>
        </div>
      </div>
                

                
            </div>
        </dd>
        
<!--CLINIC DAY-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Day</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
              
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="anyday" name="minor">
          <label class="form-control-checkbox minor" for="anyday">
            Any
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="monday" name="minor">
          <label class="form-control-checkbox minor" for="monday" style="font-weight: normal;">
            Monday
          </label>
        </div>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="tuesday" name="minor">
          <label class="form-control-checkbox minor" for="tuesday" style="font-weight: normal;">
            Tuesday
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="wednesday" name="minor">
          <label class="form-control-checkbox minor" for="wednesday" style="font-weight: normal;">
            Wednesday
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="thursday" name="minor">
          <label class="form-control-checkbox minor" for="thursday" style="font-weight: normal;">
            Thursday
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="friday" name="minor">
          <label class="form-control-checkbox minor" for="friday" style="font-weight: normal;">
            Friday
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="saturday" name="minor">
          <label class="form-control-checkbox minor" for="saturday" style="font-weight: normal;">
            Saturday
          </label>
        </div>
      </div>
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="sunday" name="minor">
          <label class="form-control-checkbox minor" for="sunday" style="font-weight: normal;">
            Sunday
          </label>
        </div>
      </div> 

    
            </div>
        </dd>
        
        
<!--CLINIC TIME-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Clinic Time</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="morning" name="minor">
          <label class="form-control-checkbox minor" for="morning" style="font-weight: normal;">
            Morning (8.00am - 11.59am)
          </label>
        </div>
      </div> 
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="aft" name="minor">
          <label class="form-control-checkbox minor" for="aft" style="font-weight: normal;">
            Afternoon (12.00pm - 3.59pm)
          </label>
        </div>
      </div> 
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="eve" name="minor">
          <label class="form-control-checkbox minor" for="eve" style="font-weight: normal;">
            Evening (4.00pm - 8.00pm)
          </label>
        </div>
      </div> 
                
                


            </div>
        </dd>
        
        
<!--DISTANCE-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Distance from LS2 4GH</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="anydist" name="minor">
          <label class="form-control-radio minor" for="anydist" checked="checked">
            Any
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="2miles" name="minor">
          <label class="form-control-radio minor" for="2miles" style="font-weight: normal;">
            Up to 2 miles
          </label>
        </div>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="5miles" name="minor">
          <label class="form-control-radio minor" for="5miles" style="font-weight: normal;">
            Up to 5 miles
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="10miles" name="minor">
          <label class="form-control-radio minor" for="10miles" style="font-weight: normal;">
            Up to 10 miles
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="25miles" name="minor">
          <label class="form-control-radio minor" for="25miles" style="font-weight: normal;">
            Up to 25 miles
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="50miles" name="minor">
          <label class="form-control-radio minor" for="50miles" style="font-weight: normal;">
            Up to 50 miles
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="100miles" name="minor">
          <label class="form-control-radio minor" for="100miles" style="font-weight: normal;">
            Up to 100+ miles
          </label>
        </div>
      </div>
              
                
                
            
            </div>
        </dd>

        
<!--Accessibility-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Accessibility</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Braille" name="minor">
          <label class="form-control-checkbox minor" for="Braille" style="font-weight: normal;">
            Braille translation service
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="disabledparking" name="minor">
          <label class="form-control-checkbox minor" for="disabledparking" style="font-weight: normal;">
            Disabled parking
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="disabledwc" name="minor">
          <label class="form-control-checkbox minor" for="disabledwc" style="font-weight: normal;">
            Disabled WC
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="inductionloop" name="minor">
          <label class="form-control-checkbox minor" for="inductionloop" style="font-weight: normal;">
            Induction loop
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="rnid" name="minor">
          <label class="form-control-checkbox minor" for="rnid" style="font-weight: normal;">
            RNID typetalk
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="signingservice" name="minor">
          <label class="form-control-checkbox minor" for="signingservice" style="font-weight: normal;">
            Signing service available
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="wheelchairaccess" name="minor">
          <label class="form-control-checkbox minor" for="wheelchairaccess" style="font-weight: normal;">
            Wheelchair access
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="stepfree" name="minor">
          <label class="form-control-checkbox minor" for="stepfree" style="font-weight: normal;">
            Step free access
          </label>
        </div>
      </div>
                
                
                
                
                
                
                
        
            </div>
        </dd>
        
        
<!--Facilities & Amenities-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Facilities &amp; Amenities</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Cafe" name="minor">
          <label class="form-control-checkbox minor" for="Cafe" style="font-weight: normal;">
            Cafe
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="library" name="minor">
          <label class="form-control-checkbox minor" for="library" style="font-weight: normal;">
            Patient library
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Pharmacy" name="minor">
          <label class="form-control-checkbox minor" for="Pharmacy" style="font-weight: normal;">
            Pharmacy
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Shop" name="minor">
          <label class="form-control-checkbox minor" for="Shop" style="font-weight: normal;">
            Shop
          </label>
        </div>
      </div>
                

            </div>
        </dd>
        
        
<!--CQC Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">CQC Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="anycqc" name="minor">
          <label class="form-control-checkbox minor" for="anycqc">
            Any
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Outstanding" name="minor">
          <label class="form-control-checkbox minor" for="Outstanding" style="font-weight: normal;">
            Outstanding
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Good" name="minor">
          <label class="form-control-checkbox minor" for="Good" style="font-weight: normal;">
            Good
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Requiresimprovement" name="minor">
          <label class="form-control-checkbox minor" for="Requiresimprovement" style="font-weight: normal;">
            Requires improvement
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Inadequate" name="minor">
          <label class="form-control-checkbox minor" for="Inadequate" style="font-weight: normal;">
            Inadequate
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="notrated" name="minor">
          <label class="form-control-checkbox minor" for="notrated" style="font-weight: normal;">
            Services not yet rated
          </label>
        </div>
      </div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
        
            </div>
        </dd>
        
        
<!--NHS Choices Rating-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">NHS Choices Rating</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="anychoices" name="minor">
          <label class="form-control-checkbox minor" for="anychoices">
            Any
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="5stars" name="minor">
          <label class="form-control-checkbox minor" for="5stars" style="font-weight: normal;">
            5 Stars
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="4stars" name="minor">
          <label class="form-control-checkbox minor" for="4stars" style="font-weight: normal;">
            4 Stars
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="3stars" name="minor">
          <label class="form-control-checkbox minor" for="3stars" style="font-weight: normal;">
            3 Stars
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="2stars" name="minor">
          <label class="form-control-checkbox minor" for="2stars" style="font-weight: normal;">
            2 Stars
          </label>
        </div>
      </div>

      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="1stars" name="minor">
          <label class="form-control-checkbox minor" for="1stars" style="font-weight: normal;">
            1 Star
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="Unrated" name="minor">
          <label class="form-control-checkbox minor" for="Unrated" style="font-weight: normal;">
            Unrated
          </label>
        </div>
      </div>
              
                
                





            </div>
        </dd>
        
<!--Parking-->
        
        <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <a style="text-decoration:none;color:#000;">Parking</a>
        </dt>
        <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
            <div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="carparking" name="minor">
          <label class="form-control-checkbox minor" for="carparking" style="font-weight: normal;">
            Car parking
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="cycleparking" name="minor">
          <label class="form-control-checkbox minor" for="cycleparking" style="font-weight: normal;">
            Cycle parking
          </label>
        </div>
      </div>
                
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="checkbox" id="disabledparking2" name="minor">
          <label class="form-control-checkbox minor" for="disabledparking2" style="font-weight: normal;">
            Disabled parking
          </label>
        </div>
      </div>
                
                
                
                
                
                
                


            </div>
        </dd>
        
    </dl>    
        


    
<!--ACCORDION END-->
                
                
                
                
                
                
                
                
                
                
                
                
                
                
            </div>
            
		</nav>
<!--FILTER MENU END-->
        
        
        
<!--MAP MENU START-->        
        
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" style="overflow:auto;-webkit-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);-moz-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);">


			
<!--MAP HEADER START-->
        <header role="banner" id="global-header">
            <div class="header-container" style="background-color:#9B004F;padding-top: 10px !important; padding-bottom: 10px !important;margin-left: 0px !important; margin-right: 0px !important;">

                <div class="container-fluid" >
                    <div class="row-fluid" >
                        <div class="span8" >
                            <h2 style="color:#fff;font-size:18px;padding-top:15px;">Map Clinics</h2>
                        </div>
                        <div class="span4" >
                                <button id="showRightPush" style="background-color:#9B004F;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
                        </div>

                    </div>
                </div>
            </div>
        </header>

<!--MAP HEADER END-->            
            
            
            <div style="padding:10px;">                
                <p>The following clinics have been sorted by distance from your home address.</p>
                <p>Your home address is set at <a href="/">LS2 4GH</a> </p> 
</div>
                <img src="{{assetPath}}images/clinic_map copy.png" width="275px" alt="">
            
<!--CLINIC 1 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">1</h1>
                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;line-height: 23px;color:#231f20;">Heart Failure - Cardiology - Leeds TH (Leeds Gen Inf) - RR8</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Leeds General Infirmary, Leeds, LS1 3EX</p>
                                    <p><strong>5 Miles</strong> from <button type="button" class="button-postcode" data-toggle="modal" data-target="#postcode">LS2 4GH</button></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 1 INFO END-->

<!--CLINIC 2 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">2</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;line-height: 23px;color:#231f20;">Cardiology Heart Failure - Harrogate Trust (Harrogate District Hospital) - RCD</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Lancaster Park Road, Harrogate, North Yorkshire, HG2 7SX</p>
                                    <p><strong>13 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>
<!--CLINIC 2 INFO END-->

<!--CLINIC 3 INFO START-->
        <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
            
                        <div class="container-fluid" style="">
                            <div class="row-fluid ">
                                <div class="span2" style="background-color:#9B004F;">
                                    <p></p>
                                    <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">3</h1>

                                </div>
                                <div class="span8" style="">
                                    <p>                    
                                    <h1 style="font-size:20px;color:#231f20;">General Cardiology - Cardiology - Rotherham Foundation Trust - RFR</h1>
                    <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Moorgate Rd, Rotherham, South Yorkshire S60 2UD</p>
                                    <p><strong>28 Miles</strong> from <a href="/">LS2 4GH</a></p>
                                    </p>
                                </div>



                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
        </div>
<!--CLINIC 3 INFO END-->
            
            
		</nav>
        
<!--MAP MENU END-->         
        
        
        


		<div class="container">
			<header class="clearfix">

			</header>
			<div class="main" style="padding-top: 20px !important;">
                
<!--MAIN CONTENT STARTS HERRRRREEEE-->      
                
  <h1 class="heading-large" style="padding-top: 0px !important;">
    Select your Clinic
  </h1>
    
      <p class="lede">Please choose from one of the clinics below.</p>
    
<!--FILTER SORT MAP BUTTONS START-->
                
    <div class="container-fluid" style="padding: 0px;">
        <div class="row-fluid" style="padding:0 0 0 0;">



            
            <div class="span4">
                    <p>
                        <a id="showLeft" class="button button-filter" style="color:#fff" >Filter </a>
                    </p>
            </div>
            <div class="span4" >
        <dl class="accordion">

        <dt style="margin-left: 0px !important;">
            <a class="button button-sort"  style="text-decoration:none;color:#fff;">Sort</a>
        </dt>
            
            <div style="width:100%;position:absolute;display: none; left: 0px !important;" >
                    <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;" >
                        <div style="padding-left:20px;">
                            
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="nextappoint" name="minor">
          <label class="form-control-radio minor" for="nextappoint" style="font-weight: normal;">
            Next Appointment (Soonest - Latest)
          </label>
        </div>
      </div>
                            
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="location" name="minor">
          <label class="form-control-radio minor" for="location" style="font-weight: normal;">
            Location (Nearest - Furthest)
          </label>
        </div>
      </div>
                            
      <div class="form-item-wrapper">
        <div class="form-group">
          <input type="radio" id="cqcrate" name="minor">
          <label class="form-control-radio minor" for="cqcrate" style="font-weight: normal;">
            CQC Rating (Outstanding - Inadequate)
          </label>
        </div>
      </div>
                            
                            



                        </div>
                    </dd>

            </div>
                </dl>  

        
            </div>
            <div class="span4">
                    <p>
                        <a class="button button-map" id="showRight" style="color:#fff">Map</a>
                    </p>
            </div>
        

                    
        </div>
    </div>
<!--FILTER SORT MAP BUTTONS END-->           
                
<!--CLINIC 1 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment' >
            
                    <h1 style="font-size:20px;line-height:25px;color:#231f20;">Heart Failure - Cardiology - Leeds TH (Leeds Gen Inf) - RR8</h1>
                    <p>Leeds General Infirmary, Leeds, LS1 3EX</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">10</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>5 Miles</strong><br />
                                        from<br />
                                    LS2 4GH
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_imp.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 1 END-->
                
                
<!--CLINIC 2 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment'>
            
                    <h1 style="font-size:20px;line-height:25px;color:#231f20;">Cardiology Heart Failure - Harrogate Trust (Harrogate District Hospital) - RCD
</h1>
                    <p>Lancaster Park Road, Harrogate, North Yorkshire, HG2 7SX </p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">18</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>13 Miles</strong><br />
                                        from<br />
                                    LS2 4GH
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_good.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 2 END-->
                
                
 <!--CLINIC ???? TELEPHONE APPOINTMENT START-->
    
        <div class="clinicresult" >
            
                    <h1 style="font-size:20px;line-height:25px;color:#231f20;">Referral Gateway - Cardiology</h1>
                    <p>Ellen House, Oldham, Lancashire, OL9 6EE </p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">25</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:40px;">
                                    <h2 style="font-size:2.3rem;"><img src="/public/images/noun_127.svg" height="40px" />
                                    </h2>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_good.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>
            


        </div>

<!--CLINIC ???? TELEPHONE APPOINTMENT END-->
                
<!--CLINIC 3 START-->
    
        <div class="clinicresult clickable-row" data-href='/book-an-appointment/select-appointment'>
            
                    <h1 style="font-size:20px;color:#231f20;line-height:25px;">General Cardiology - Cardiology - Rotherham Foundation Trust - RFR
</h1>
                    <p>Moorgate Rd, Rotherham, South Yorkshire S60 2UD</p>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4 clinicdiarybox">
                    
                                    <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Next Appointment</p>
                                        <div class="clinicdiaryboxinner">
                                            <h2 style="font-size:22px;">50</h2> Days
                                        </div>
                                </div>
                                <div class="span3" style="padding-top:20px;">
                                    <p><strong>28 Miles</strong><br />
                                        from<br />
                                    LS2 4GH
                                    </p>
                                </div>

                                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                                    <p style="margin-bottom:0px;">CQC Rating</p>
                                        <img src="{{assetPath}}images/cqc_req_good.svg" />
                                </div>

                                <div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>
                            </div>
                        </div>

        </div>

<!--CLINIC 3 END-->
                
                
<!--CLINIC 4 TELEPHONE APPOINTMENT START-->
    
        <div class="clinicresult" >
            
                    <h1 style="font-size:20px;line-height:25px;color:#231f20;">Street Lane Services - Cardiology Diagnosis and Management Clinic 
</h1>
                    <p>12 Devonshire Avenue, Leeds, LS8 1AY </p>
            <div style="background-color:#dee0e2;padding:10px 10px 5px 10px;margin-bottom:20px;">
                    <p><strong>Booking instructions:</strong> Please call the number above, service open 9.30am - 5.00pm, Monday - Friday. </p>
            </div>
            
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row-fluid clinictextcentre">
                                <div class="span4" style="padding-top: 10px;">
                    

                                    <h2 style="font-size:2.3rem;"><img src="/public/images/noun_127.svg" height="40px" />
                                    </h2>



                                </div>
                                <div class="span3" style="padding-top:10px;" >

                                    <p style="padding-top:0px;"><strong>Tel.</strong> 0113 2371603</p>

                                </div>

                                <div class="span4" >


                                    <p style="margin-bottom:0px;padding-top:10px;">CQC Rating <strong>Unknown</strong></p>



                                </div>

                                <!--<div class="span1" >
                                    <p style="text-align:right;">
                                        <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                                    </p>
                                </div>-->
                            </div>
                        </div>

            

        </div>

<!--CLINIC 4 TELEPHONE APPOINTMENT END-->
                
                

                
                
                
				<section style="visibility: hidden;">
					<button id="showLeft">Show/Hide Left Slide Menu</button>
					<button id="showRight">Show/Hide Right Slide Menu</button>
					<button id="showTop">Show/Hide Top Slide Menu</button>
					<button id="showBottom">Show/Hide Bottom Slide Menu</button>
				</section>

			</div>
		</div>
    
       
    <!-- Modal START -->
<div class="container">
        
<!-- Modal CHANGE POSTCODE START -->
  <div class="modal fade" id="postcode" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit home postcode</h4>

        </div>
        <div class=" " style="padding:20px;">
            <div class="form-group" style="margin-bottom: 2rem;">
    <input type="postcode" class="form-control" id="postcode" placeholder="Postcode">
  </div>
        </div>
        <div class="modal-footer" style="border-top:0px;">
          <button type="button" class="button button-book" data-dismiss="modal">Save</button>
        </div>
      </div>
      
    </div>
  </div>
    
<!-- Modal CHANGE POSTCODE END -->
    
</div>
    
<!-- Modal End-->    


    
</main>

<script src="/public/javascripts/vendor/modernizr.custom.js"></script>
<script src="/public/javascripts/vendor/classie.js"></script>
<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				menuRight = document.getElementById( 'cbp-spmenu-s2' ),
				menuTop = document.getElementById( 'cbp-spmenu-s3' ),
				menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
				showLeft = document.getElementById( 'showLeft' ),
				showRight = document.getElementById( 'showRight' ),
				showTop = document.getElementById( 'showTop' ),
				showBottom = document.getElementById( 'showBottom' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;

			showLeft.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeft' );
			};
			showRight.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRight' );
			};
			showTop.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuTop, 'cbp-spmenu-open' );
				disableOther( 'showTop' );
			};
			showBottom.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuBottom, 'cbp-spmenu-open' );
				disableOther( 'showBottom' );
			};
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			showRightPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toleft' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				disableOther( 'showRightPush' );
			};

			function disableOther( button ) {
				if( button !== 'showLeft' ) {
					classie.toggle( showLeft, 'disabled' );
				}
				if( button !== 'showRight' ) {
					classie.toggle( showRight, 'disabled' );
				}
				if( button !== 'showTop' ) {
					classie.toggle( showTop, 'disabled' );
				}
				if( button !== 'showBottom' ) {
					classie.toggle( showBottom, 'disabled' );
				}
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
				if( button !== 'showRightPush' ) {
					classie.toggle( showRightPush, 'disabled' );
				}
			}
		</script>
    
 <script>
        $(document).ready(function() {    
           $('.accordion > dd').hide();
           $('.accordion > dt > a').click(function(){
                   $(this).parent().next().slideToggle()
                          .siblings('.hide').slideUp();
                   return false;
           });
            $('.close').click(function(){
                $('.accordion .hide').slideUp();
            });
        });
    </script>

{% endblock %}
