{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">Welcome to the NHS e-Referral Service</h1>

    <div class="text">
    
        
      <p>
        If you have been referred to a specialist by your GP, or already have an appointment, enter your details below to make, amend or cancel your appointment.
      </p>

        
        <div style="background-color:#EFEFEF;padding:20px;">
            
            
        
 
<!-- Name -->
<div class="form-item-wrapper">
  <fieldset>
    <div class="form-group">
      <label class="form-label-bold" for="first-name">
        Booking Reference Number
      </label>
      <input type="text" id="first-name" class="form-control">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="first-name">
        Year of Birth
      </label>
      <input type="text" id="last-name" class="form-control" style="width: 150px;">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="first-name">
        Password
      </label>
      <input type="text" id="first-name" class="form-control">
    </div>
      
  </fieldset>
</div>

        
            <div>
              <p>
        <a class="button button-get-started" href="/book-an-appointment/home-screen">Log In</a>
      </p>
            </div>
            
            
            <p style="text-align:center;"><a href="">Forgot password?</a></p>
        </div>
        
        
    </div>
</main>

{% endblock %}
