{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge" style="padding-bottom:20px;">Log In to e-Referral Service</h1>

    <div class="text">

         <p class="lede">Book, change or cancel your appointment online by entering your details on the next page, then click 'Log In'.</p>   
            <p>For security reasons, you have three attempts to enter your correct details. If you are unable to log in, please contact your GP practice.</p>
            

        <p>You will need your reference number (shown at the top of your appointment letter) and your password (which your GP practice gave you). Please contact your GP practice if you do not have your letter or password.</p>        
        
        
            <div>
              <p>
        <a class="button button-get-started" href="/book-an-appointment/login">Start</a>
      </p>
            </div>
        <h1 class="heading-large">Help?</h1>
         <p>If you need assistance in choosing your clinic, booking, changing or cancelling your appointment call the e-Referral Service Appointments Line.</p>


        <p><strong>Phone:</strong> 0345 60 88 88 8</p>
        <p><strong>Textphone:</strong> 0345 8 50 22 50</p>
        <p><strong>Appointments Line opening hours are:</strong> weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
        
        
    </div>
</main>

{% endblock %}
