<!DOCTYPE html>
<html lang="">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{% block pageTitle %}NHS e-RS Prototypes{% endblock %}</title>

    <link href="{{assetPath}}stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{assetPath}}stylesheets/nhs_fonts.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{assetPath}}stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{assetPath}}stylesheets/ie10-viewport-bug-workaround.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{assetPath}}stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}
  </head>

  <body class="{% block bodyClasses %}{% endblock %}">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <header role="banner" id="global-header">
      <div class="header-container">
          
 <div class="container-fluid" style="padding: 0px;">
  <div class="row-fluid">
    <div class="span8" >
      <h2 style="color:#fff;font-size:18px;padding-top:25px;">e-Referral Service</h2>
    </div>
    <div class="span4" >
<a href="{% block logotypeLink %}/{% endblock %}" class="header-logo" title="{% block logotypeTitle %}Go to the NHS.UK homepage{% endblock %}" style="float:right;">
          <img src="{{assetPath}}images/nhs-rev-logotype.svg" alt="">
            </a>
    </div>

  </div>
</div>


          
          
          
          
          




        {% block header-controls %}{% endblock %}

      </div>
    </header>
    <!--end header-->

    <!--<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4" style="background-color:green;">
      fluid Thirds
    </div>
    <div class="span4" style="background-color:green;">
      fluid Thirds
    </div>
    <div class="span4" style="background-color:green;">
      fluid Thirds
    </div>
  </div>
</div>-->
      
      
    {% block afterHeader %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "includes/nhs.uk/footer.html" %}

    <div id="global-app-error" class="app-error hidden"></div>

    {% block bodyEnd %}{% endblock %}
  </body>
</html>
