// Buttons
// ==========================================================================

.button {
  //@include box-sizing (border-box);
  @include inline-block;
  width: 100%;
  height: 5rem;
  line-height: 2rem;
padding: 0.5rem 1rem 0rem 1rem;
  border: 0;
  background-color: $nhs-blue;
  cursor: pointer;
    text-align: center;
    box-sizing: border-box;
  color: $white;
  @include border-radius(0);
  -webkit-appearance: none;
      font-weight: 700;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $white;
    background-color: $nhs-blue;
  }

  /* to be fixed */
  text-decoration: none !important;

  @include media (tablet) {
    //width: auto;
  }
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $nhs-yellow;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

// Start now buttons
.button-get-started {
  font-weight: bold;
    background:$nhs-blue;
  //padding-right: 3rem;
  background-image: url("/public/images/icon-button-start.svg");
  background-repeat: no-repeat;
  background-position: 95% 55%;
        //width: 100% ;
    padding-top:1.5rem;
    padding-bottom:2rem;
}

// Cancel buttons
.button-cancel {
  //padding-right: 0rem;
  //background-image: url("/public/images/icon-button-cancel.svg");
  //background-repeat: no-repeat;
  //background-position: 92% 50%;
  background-color: $nhs-websafe-red;
    //padding-top:1.5rem;
    //padding-bottom:2rem;
  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-websafe-red;
      font-weight: 700;
  }
}

// Book buttons
.button-book {
  //padding-right: 0rem;
  //background-image: url("/public/images/icon-button-cancel.svg");
  //background-repeat: no-repeat;
  //background-position: 92% 50%;
  background-color: $nhs-green;
      font-weight: 700;
    //width: 100% ;
    //padding-top:1.5rem;
    //padding-bottom:2rem;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-green;
  }
}

// Secondary buttons
.button-secondary {
  background-color: $nhs-grey-3;
  border-color: $nhs-grey-3;
  color: $nhs-black;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $nhs-black;
    background-color: $nhs-grey-3;
  }
}

// Secondary CTA buttons (NHS blue)
.button-secondary-cta {
  background-color: $nhs-blue;
  border-color: $nhs-dark-blue;
  border-width: 2px;
  color: $white;

  height: 3rem;
  line-height: 3rem;

  font-size: 16px;
  font-weight: bold;

  padding-right: 2.5rem;
  background-image: url("/public/images/icon-button-start.svg");
  background-repeat: no-repeat;
  background-position: 97.5% 57.5%;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $white;
    background-color: $nhs-blue;
  }
}


.button-filter {
padding-right: 2rem;
background-image: url("/public/images/sml-down-chevron.svg");
background-repeat: no-repeat;
background-position: 92% 50%;
  background-color: $nhs-aqua-green;
      font-weight: 700;
    //width: 20px ;
    padding-top:1.5rem;
    padding-bottom:2rem;
      color: $white;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-aqua-green;
  }
}

.button-sort {
padding-right: 2rem;
background-image: url("/public/images/sml-down-chevron.svg");
    color:white;
background-repeat: no-repeat;
background-position: 92% 50%;
  background-color: $nhs-purple;
      font-weight: 700;
    //width: 100% ;
    padding-top:1.5rem;
    padding-bottom:2rem;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-purple;
  }
}

.button-map {
padding-right: 2rem;
background-image: url("/public/images/sml-down-chevron.svg");
background-repeat: no-repeat;
background-position: 92% 50%;
  background-color: $nhs-dark-pink;
      font-weight: 700;
    //width: 100% ;
    padding-top:1.5rem;
    padding-bottom:2rem;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-dark-pink;
  }
}

.button-change {
padding-right: 2rem;
background-image: url("/public/images/sml-down-chevron.svg");
background-repeat: no-repeat;
background-position: 92% 50%;
  background-color: $nhs-white;
    border: 1px solid $grey-2;
      font-weight: 700;
    //width: 100% ;
    //padding-top:1.5rem;
    //padding-bottom:2rem;
    color:black;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-white;
  }
}

.button-changena {
//padding-right: 2rem;
//background-image: url("/public/images/icon-triangle-open-black.svg");
//background-repeat: no-repeat;
//background-position: 92% 50%;
  background-color: $nhs-white;
    border: 1px solid $grey-2;
      font-weight: 700;
    //width: 100% ;
    //padding-top:1.5rem;
    //padding-bottom:2rem;
    color:black;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-white;
  }
}


// SIDR buttons
.sidr-class-button-cancel {
  //padding-right: 0rem;
  //background-image: url("/public/images/icon-button-cancel.svg");
  //background-repeat: no-repeat;
  //background-position: 92% 50%;
  background-color: $nhs-websafe-red;
    //padding-top:1.5rem;
    //padding-bottom:2rem;
  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-websafe-red;
      font-weight: 700;
  }
}

.sidr-class-button {
  //@include box-sizing (border-box);
  @include inline-block;
  width: 100%;
  height: 5rem;
  line-height: 2rem;
padding: 0.5rem 1rem 0rem 1rem;
  border: 0;
  //background-color: $nhs-blue;
  cursor: pointer;
    text-align: center;
    box-sizing: border-box;
  color: $white;
  @include border-radius(0);
  -webkit-appearance: none;
      font-weight: 700;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $white;
    //background-color: $nhs-blue;
  }

  /* to be fixed */
  text-decoration: none !important;

  @include media (tablet) {
    //width: auto;
  }
}

// Fix unwanted button padding in Firefox
.sidr-class-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sidr-class-button:focus {
  outline: 3px solid $nhs-yellow;
}

// Disabled buttons
.sidr-class-button[disabled="disabled"] {
  background: $button-colour;
}

.sidr-class-button[disabled="disabled"]:focus {
  outline: none;
}

.sidr td {
    padding:10px;
    background-color: #fff;
}

.sidr-class-button-book {
  //padding-right: 0rem;
  //background-image: url("/public/images/icon-button-cancel.svg");
  //background-repeat: no-repeat;
  //background-position: 92% 50%;
  background-color: $nhs-green;
      font-weight: 700;
    //width: 100% ;
    //padding-top:1.5rem;
    //padding-bottom:2rem;

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-green;
  }
}


.sidr dt {
    
    border-bottom:1px solid #000;
    margin:0;
    padding:2rem 1rem 2rem 1rem;
    
    
}

.sidr dd {
    
    background-color:#fff;
    border-bottom:1px solid #000;
    margin:0;
    padding:2rem 1rem 2rem 1rem;
}

.button-postcode {
//padding-right: 2rem;
//background-image: url("/public/images/icon-triangle-open-black.svg");
//background-repeat: no-repeat;
//background-position: 92% 50%;
  background-color: $nhs-white;
    border: 0;
      font-weight: 700;
    //width: 100% ;
    //padding-top:1.5rem;
    //padding-bottom:2rem;
    padding-left: 0px;
    color:$nhs-blue;
    text-decoration: underline;
    

  &:link,
  &:hover,
  &:focus,
  &:visited{
    background-color: $nhs-white;
  }
}